# ------------------------
# Terraform
# ------------------------

# Local Terraform working directory
**/.terraform/*

# State files
*.tfstate
*.tfstate.*
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files (used for local overrides, not meant for version control)
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# ------------------------
# Ansible
# ------------------------

# Local inventory files (customize if needed)
inventory.ini
ansible/inventory.ini

# Retry files created after failed Ansible runs
*.retry
